#icon{
  width: 40%;
}
.container{
text-align: center;
background-color: #fd7e14;
}
#body{
background-color: #fd7e14;
}
#contact-img{
text-align:center;
width: 20%
}
#container{
  text-align: center;
}
#e-mail-img{
  padding-left: 5%;
}
